.work_container {
    margin-top: 2.5%;
    row-gap: 2rem;
    text-align: center;
}

.section_title {
    margin-top: -1%;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.work_img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.work_img img {
    margin-top: 3%;
    transition: 1s;
    cursor: pointer;
}

.work_img img:hover {
    transform: scale(1.1);
}

.work_img h5 {
  font-weight: 600;
  color: #ff6f00;
}
.work_img p {
  font-size: 12px;
  margin-bottom: 6px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 992px) {
    .work_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 576px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 573px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}
